.main {
  position: relative;
  top: 4.17vw;
  text-align: center;
  background: #dfd8fc;

  padding: var(--size-8) 0;
  /* height: 52.08vw; */
  height: 46.88vw;

  display: flex;
  flex-direction: column;
}

.imageContainer {
  width: 90%;
  margin: var(--size-8) auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.image {
  width: 21.35vw;
  height: 25.26vw;
  box-shadow: 0 0.05vw 0.42vw rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: var(--color-grey-700);
  cursor: pointer;
  /* margin: auto; */
}

.image img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.main h1 {
  font-size: var(--size-16);
  margin: var(--size-4) 0;
  color: #80b5b1;
  /* color: var(--color-grey-300); */
}

.myintro {
  width: 90%;
  border: 0.05vw #000000 solid;
  margin: var(--size-8) auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.myintro div {
  width: 23.44vw;
  height: 27.6vw;
  background: #ffffff;
  border-radius: 2.08vw;
  border: 0.26vw solid;
}

.hero p {
  font-size: var(--size-6);
  color: var(--color-grey-200);
  width: 90%;
  max-width: 40rem;
  margin: auto;
}

.video {
  background: #ffffff;
  width: 41.67vw;
  height: 41.67vw;
}
